# Node.js dependencies
node_modules/

# Log files
*.log

# Output directory
output/

# Screenshots
/data/screenshots/

# JSON files for page texts
/data/pageTexts.json

#.env file
.env

#user data
user_data/
user_data/Default/Code Cache/js/
.DS_Store

